/*==================== Start Google Font Kanit ====================*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Prompt:wght@200;300;400&display=swap');

/*==================== End Google Font Kanit ====================*/

/*==================== Start Variables CSS ====================*/

:root {
  --nav-color:  #134B8A;
  --nav-color-alt: #0f1e56;
  --body-color: #e0e0e0;
  --container-color:#ffffff;

  /* font */
  --body-font: 'kanit', 'sans-serif'; 
  --font-color: #000;
  --font-color-alt: #605c5c;
} 
/*==================== End Variables CSS ====================*/

/*==================== Start BASE ====================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--font-color);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/*==================== End BASE ====================*/